#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#####relavant folders:
######IP:
!doc/
!*/ips/

######rtl:
!*/rtl/

######constraints:

!*/constraints/
######exported_hardware:

!*/exported_hardware/

######block_designs:

!*/block_designs/

###### project tcl:
!/rebuild.tcl


###########SDK related dependencies: only include application project##############
#!*software/<name_of_project>